html {
    background-color: #333333;
}

body{
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1518358246973-95637f1df901?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2900&q=80');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; background-size: cover;
    -webkit-font-smoothing: antialiased;
}

.coffee-card {
    width: calc(40% - 10px);
    color: #666362;
    text-align: center;
    opacity: 0.8;
    border-radius: 20%;

}

.coffee-subheader {
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-weight: 800;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    .coffee-card {
        width: 100%;
    }
}

.border {
    border-bottom: solid black 0.25rem;
    border-bottom-style: groove;
    padding-top: 20px;
    max-width: 850px;
    opacity: 0.8;
    border-width: thin;
}
img {

    height: 85px;
    width: 85px;
    background-color: #bbb;
    border-radius: 50%;
    opacity: 0.9;
}

img:hover {
    opacity: 0.2;
}


.coffee-name {
    text-shadow: 0px 0px 16px #467038;
    opacity: unset;
    font-weight: bold;
    color: white;
}

.search-bar {
    min-height: 40px;
    min-width: 40px;
    border-bottom: solid black 0.3rem;
    opacity: 0.5;

}

.coffee-selects {
    min-height: 40px;
    min-width: 40px;
    border-bottom: solid black 0.3rem;
    opacity: 0.5;
}

.add-coffee-submit {
    min-height: 40px;
    min-width: 40px;
    border-bottom: solid black 0.3rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all ease 0.3s;
}

.add-coffee-submit:hover {
    background-color: lightsteelblue;
}

.cesar {
    display: flex;
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: unset;
    gap: 1em;
}


.coffee-paragraph{
    display: flex;
    align-items: center;
    padding-top: 4.5px;
    text-decoration: underline;
    text-decoration-style: double;
    color: black;
    text-shadow: 0px 0px 16px #fff8e7;
}

.coffee-paragraph-detail {
    text-shadow: 0px 0px 16px #467038;
    opacity: unset;
    font-weight: bold;
    color: white;
}

.roast-menu {
    font-style: italic;
}